/* CSS Custom Properties Definitions */
@import url('./reset.css');
@import url('./fluidtype.css');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root{

    --bg-fade: #464f51ff;
    --bg: #000;
    --color-1: #defff2ff;
    --color-2: #1A1909;
    --white:#fff;
    --bg-color: #000;
    --text-color: #adadad;
    --title-color: #f1f1ef;
    --tag-color: #f1f1ef;
    --loading-bg-color: #101010;
    --primary-color: #a594fd;
    --subtitle-color: #a594fd;
    --separator-color: #2f2f2f;
    --footer-bg-color: #f1f1ef;
    --footer-title-color: #110f14;
    --footer-text-color: #838383;
    --footer-text-size: 1.25rem;
    --footer-title-size: 1.25rem;
    --ease-Out: cubic-bezier(0.430,0.195,0.020,1.000);
    --ease-In: cubic-bezier(0.98,0.0,0.57,0);
    --ease-OutQuint: cubic-bezier(0.230,1.000,0.320,1.000);
    --ease-Out2: cubic-bezier(0.9,0.1,0.15,1.05);
    --ease-Out3: cubic-bezier(0.630,0.195,0.010,1.000);
    --ease-OutSlow: cubic-bezier(.43,.195,.02,1);
    --ease-OutSnap: cubic-bezier(0.835,0.085,0.005,1);
    --ease-OutUnspun: cubic-bezier(0.745,0.065,0.170,1.000);
    --ease-OutCubic: cubic-bezier(0.215,0.610,0.355,1.000);
    --hero-title-ease: cubic-bezier(.215,.61,.355,1);
    --box-bg-color: #101010;
    --custom-green:#00AA89;
    --custom-blue:rgb(43,39,226);
    --custom-pink:#C5979D;
}

html {
	font-size: 62,5%; 
}


body{
    background-color: var(--bg);
    font-family: 'Manrope', sans-serif;
    color: #fff;
    /* background-image: url("./images/gbb.avif");
    backdrop-filter: invert(80%);    */
}
.post-list-item{
    width: 100%;   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-single{
   border: 1px solid var(--color-2);
   border-bottom: 0;
   padding: 20px;
}

.post-single h2{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    padding-right: 10%;
    flex: 1;
   
}
.post-single a{ 
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #fff;
    font-weight: 300;
}

.post-single:hover 
.post-single small{
    color: #fff;
    width: 20%;
}
.hovered.notHovered .post-list-item {
    opacity: 0.8;
}
/* Scrollbar */
.post-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 15px;
	background-color: #F5F5F5;
}

.post-list::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
    max-height: 50%;
}

.post-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D68FD6;
}


.fade-link .post-list-item{
    opacity: 0.3;
    transition: all 377ms cubic-bezier(0.16, 0.01, 0.77, 1);
}



/* TABLE */
@media(max-width:768px){
    .container{
        flex-wrap: wrap;
    }
    .sidebar{
        width: 100%;
        border: 1px solid var(--color-2);
        max-width: 100%;
        padding: 30px;
    }
}

.bento{
    background-color: #060606;
    width: 100vw;
    height:100vh;
}
.wrapper {
    display: grid;
    grid-gap:2%!important;
    row-gap: 2%!important;
    column-gap:2%!important;
    background-color: #060606;
    transition: all .3s;
    color: #444;
    width:98% ;
    height:95%;  
    padding:2% !important;  
}

.box {

    border-radius: 45px;
    padding:5%;

}

.a {
    grid-column: 1 / 3;
    grid-row: 1;
    transition: all 3s;
    background-color: #FCF7F5;
    color: #000;
}

.b {
    grid-column: 3 ;
    grid-row: 1 / 3;
    background-color:#060606;
    max-height: 90vh;
    overflow: scroll;
    overflow-x: hidden;
    border: 2px solid #565555;
}
.c {
    grid-column: 1 ;
    grid-row: 2 ;
    background-color: rgb(243,237,91);
}
.d {
    grid-column: 2;
    grid-row: 2;
    background-color: #000;
    background-color: #40F2C8;
}

h1{
    
    color: #000;
    font-weight:bold;
    padding-top: 30px;
    text-transform: uppercase;
    font-size: clamp(1.1rem, 14.4vw - 7rem, 2rem);
    margin: 0;
    padding: 0;
}
.homepage__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}